@font-face {
    font-display: swap;
    font-family: Söhne Schmall;
    font-style: normal;
    font-weight: 700;
    src: url('https://www.liftinginspections.nl/dist/assets/SoehneSchmall-Fett-DFoX6Oz0.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    src: url('https://app.liftinginspections.nl/build/assets/Archivo-Regular-maUW-N6X.woff2') format('woff2'),
         url('https://app.liftinginspections.nl/build/assets/Archivo-Regular-Cxgh80dk.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    src: url('https://app.liftinginspections.nl/build/assets/Archivo-Bold-CGc1C_Cp.woff2') format('woff2'),
         url('https://app.liftinginspections.nl/build/assets/Archivo-Bold-BOOMZe0U.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Archivo Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-Regular-C2V-hU5l.woff2') format('woff2'),
         url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-Regular-xq_cL6f2.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Archivo Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-Italic-DMuJiD-k.woff2') format('woff2'),
         url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-Italic-B3wbLjI5.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Archivo Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-SemiBold-Bc0Ma2Jh.woff2') format('woff2'),
         url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-SemiBold-C7eAJTkR.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Archivo Condensed';
    font-style: normal;
    font-weight: 900;
    src: url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-Black-D2cQS4K_.woff2') format('woff2'),
         url('https://app.liftinginspections.nl/build/assets/ArchivoCondensed-Black-BxZ21GwI.woff') format('woff');
}

:root {
    --color-text: #1f336a;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@page {
    margin: 20mm 20mm 20mm 20mm;
    size: A4;
}

@page :first {
    background-image: url('https://app.liftinginspections.nl/assets/img/pdf/cover-certificate.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: var(--color-text);
    font-family: 'Archivo', sans-serif;
    font-size: 10pt;
    line-height: 1.4;
}

a {
    color: #1B3A6B;
}

i {
    font-style: italic;
}

img {
    display: block;
    height: auto;
}

.page-break-after  {
    break-after: page;
}

.page-break-before {
    break-before: page;
}

.page {
    break-after: page;
}

.header {
    margin-bottom: 10mm;
}

.header__logo {
    width: 55mm;
}

h1 {
    color: #1f336a;
    font-family: 'Archivo Condensed', sans-serif;
    font-size: 32pt;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 10mm;
}

h1 i {
    font-size: 28pt;
    font-weight: 400;
    font-style: italic;
}

.logo {
    height: auto;
    width: 5cm;
}

.intro {
    min-height: 55mm;
}

.formatted {
    line-height: 1.4;
}

.formatted p {
    margin-bottom: 1em;
}

.split {
    display: flex;
    justify-content: space-between;
    width: 170mm;
}

.split__left {
    width: 120mm;
}

.split__left,
.split__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.split__right {
    font-family: 'Archivo Condensed', sans-serif;
    font-weight: 400;
    width: 36mm;
}

.split__right h4 {
    font-family: 'Archivo Condensed', sans-serif;
    font-size: 10pt;
    font-weight: 600;
}

.split__right p {
    margin-bottom: 1em;
}

.rva {
    height: 18mm;
    width: auto;
}

.table {
    border-collapse: separate;
}

.table th,
.table td {
    font-weight: 400;
    padding: 2mm 0;
    text-align: left;
}

.table th {
    width: 36mm;
}

.table td {
    font-weight: 600;
}

.onBehalfOf {
    margin: 3mm 0 6mm 0;
}

.signature {
    margin-bottom: 10mm;
}

.signature__box {
    height: 15mm;
    overflow: visible;
    margin-bottom: 3mm;
    position: relative;
    width: 100%;
}

.signature__image {
    height: 18mm;
    width: auto;
}

.footer {
    font-family: 'Archivo Condensed', sans-serif;
    font-weight: 400;
    font-size: 7pt;
}