h1 {
    color: var(--color-text-dark);
    font-family: var(--font-2);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: var(--line-height-m);
}