.dataItem {
    align-items: baseline;
    border-bottom: 1px solid var(--color-border-lc);
    display: flex;
    justify-content: space-between;
    line-height: var(--line-height-l);
    padding: .75rem 0 .25rem;

    &__label {
        color: var(--color-text-lc);
        font-size: var(--font-size-s);
    }

    &__value {
        font-weight: 400;
        text-align: right;
    }
}