.expander {
    height: 0;
    opacity: 0;
    overflow-y: clip;
    transition: var(--duration-m) ease-in-out;
    
    &.is-expanded {
        height: max-content;
        height: calc-size(max-content, size);
        opacity: 1;
    }
}