.fieldSearchResults {
    border-radius: var(--input-border-radius);
    max-height: 24rem;
    overflow-y: auto;

    &__result {
        align-items: center;
        background: var(--color-gray-tint);
        border-radius: var(--input-border-radius);
        color: var(--color-text);
        cursor: pointer;
        display: flex;
        gap: .5rem;
        line-height: var(--line-height-l);
        padding: .75rem;
        width: 100%;
        text-align: left;

        .lucide {
            color: var(--color-text-light) !important;
            height: 1.25rem;
            width: 1.25rem;
        }

        &:not(:last-child) {
            margin-bottom: 2px;
        }

        &:hover,
        &:focus-visible {
            background: var(--color-gray-tint-hover);
            color: var(--color-text-dark);
            outline: none;
        }
    }
}