.label {
    background: var(--color-bg-tint);
    border-radius: .75rem;
    color: var(--color-text-lc);
    display: inline-block;
    font-size: var(--font-size-xs);
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0 .75rem;
    user-select: none;

    &--active,
    &--published {
        background: var(--color-success-tint);
        color: var(--color-success);
    }
}