@use '@css/2-tools/mixins' as *;

.pagination {
    align-items: center;
    color: var(--color-text-lc);
    display: flex;
    font-size: var(--fontSize-s);
    justify-content: space-between;

    &__list {
        align-items: center;
        display: flex;
        gap: .25rem;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
    }

    &__link {
        align-items: center;
        border-radius: var(--border-radius-m);
        color: var(--color-link);
        cursor: pointer;
        display: flex;
        font-weight: 500;
        height: 2.25rem;
        justify-content: center;
        min-width: 2.25rem;
        outline: var(--btn-outline);
        outline-offset: 2px;
        padding: 1px 0;
        text-decoration: none;
        user-select: none;

        &:active:not(&--disabled):not(&--active) {
            padding: 2px 0 0 0;
        }

        &:focus-visible {
            outline: var(--btn-outline-focus);
        }

        &:hover:not(&--disabled):not(&--active) {
            background: var(--btn-bg-color);
            color: var(--btn-color);
            z-index: 9;
        }

        &--active {
            background: var(--btn-primary-bg-color);
            border-color: var(--btn-primary-border-color);
            color: var(--btn-primary-color);
            cursor: default;
            z-index: 10;
        }

        &--disabled {
            cursor: not-allowed;
            color: var(--color-text-lc);
            opacity: .5;
        }

        svg {
            display: block;
            height: 1.25rem;
            width: 1.25rem;
        }
    }

    @include screen-min(m) {
        font-size: var(--fontSize-m);
    }
}

