.palette {
    border-collapse: collapse;

    td,
    th {
        font-weight: 400;
        font-size: var(--font-size-s);
        line-height: var(--line-height-l);
        text-align: left;
        vertical-align: center;
    }

    code {
    }

    thead {
        th {
            text-align: center;
            padding-bottom: 1em;
        }
    }

    tbody {
        th {
            padding-right: 2em;
        }
    }

    &__swatch {
        height: 4em;
        margin: 0 1em;
        width: 8em;
    }
}