@use '@css/2-tools/mixins' as *;

.status {
    align-items: center;
    background: var(--color-bg-tint);
    border: 1px solid var(--color-border-lc);
    border-radius: var(--border-radius-m);
    display: flex;
    font-size: var(--font-size-s);
    gap: .75rem;
    padding: 1rem;

    &--danger {
        background: var(--color-danger-tint);
        color: var(--color-danger);
    }

    &--neutral {
        background: var(--color-neutral-tint);
        border-color: rgba(var(--color-neutral-rgb), .25);
        color: var(--color-neutral);
    }

    &--success {
        background: var(--color-success-tint);
        color: var(--color-success);
    }

    @include screen-min(m) {
        font-size: var(--font-size-m);
        gap: .75rem;
        padding: 1.5rem;
    }
}