@use '@css/2-tools/mixins' as *;

.table {
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    td,
    th {
        background: var(--bg-color);
        box-sizing: content-box;
        font-family: var(--font-1);
        font-size: var(--font-size-m);
        font-variant-numeric: tabular-nums;
        line-height: var(--line-height-m);
        text-align: left;
        padding: 1rem .75rem;
    }

    tr {
        td:first-child,
        th:first-child {
            padding-left: 0.5em;
        }

        td:last-child,
        th:last-child {
            padding-right: 0.5em;
        }

        &[wire\:click] {
            cursor: pointer;

            &:hover {
                background: var(--color-gray-tint);
            }
        }
    }

    thead {
        th {
            border-bottom: 1px solid var(--color-border-lc);
            color: var(--color-text-lc);
            font-size: var(--font-size-s);
            font-weight: 500;
        }
    }

    tbody {
        td,
        th {
            border-bottom: 1px solid var(--color-border-lc);
        }
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        gap: .5em;
    }

    &__action {
        display: flex;
        align-items: center;
        gap: .5em;
    }

    &__main {
        font-weight: 500;
    }

    &__num {
        text-align: right !important;
        font-variant-numeric: tabular-nums;
    }

    &__right {
        text-align: right !important;
    }

    &__sort {
        height: 1.5em;
        width: 1.5em;
    }

    &__sortable {
        align-items: center;
        cursor: pointer;
        display: flex;
        gap: .5em;
        transition: color var(--duration-m);

        &--sorted {
            color: var(--color-text-hc);

            .table__sortableIcon {
                color: var(--color-text-hc);
            }
        }

        &--sortedAsc {
            .table__sortableIcon {
                mask-position: 0 -1.25rem;
            }
        }

        &--sortedDesc {
            .table__sortableIcon {
                mask-position: 0 -2.5rem;
            }
        }

        &:hover {
            color: var(--color-text-hc);
        }
    }

    &__detailsMobile {
        color: var(--color-text-lc);
        font-size: var(--font-size-s);
        line-height: var(--line-height-l);
        margin-top: .25em;
    }

    &--border {
        border-collapse: separate;
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius-m);
        box-shadow: 0 .15em .25em oklch(var(--color-dark-gray-lch) / .075);

        th, td {
            &:first-child {
                padding-left: 1em !important;
            }

            &:last-child {
                padding-right: 1em !important;
            }
        }

        tbody tr:last-child td,
        tbody tr:last-child th {
            border-bottom: none;
        }
    }

    @include screen-max(l) {
        border-top: 1px solid var(--color-border-lc);
        margin-left: calc(var(--gutter) * -1);
        margin-right: calc(var(--gutter) * -1);
        width: 100vw;

        thead {
            display: none;
        }

        tr {
            td:first-child,
            th:first-child {
                padding-left: var(--gutter);
            }

            td:last-child,
            th:last-child {
                padding-right: var(--gutter);
            }
        }
    }
}
