@keyframes video-fetching {
    to {
        transform: rotate(360deg);
    }
}

.video {
    aspect-ratio: 16 / 9;
    border-radius: var(--input-border-radius);
    box-shadow: 0 .25em 1em rgba(0, 0, 0, .1);
    display: block;
    height: auto;
    margin: 0;
    overflow: hidden;
    width: 100%;

    &__fetching {
        align-items: center;
        aspect-ratio: 16 / 9;
        background: var(--color-bg-tint);
        border-radius: var(--input-border-radius);
        color: var(--color-text);
        display: flex;
        gap: .5em;
        justify-content: center;
        height: auto;
        width: 100%;

        .lucide {
            animation: video-fetching 1s linear infinite;
            color: var(--color-text-light);
        }
    }
}