.password {
    background: var(--bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    color: var(--color-text);
    outline: var(--input-outline);
    display: flex;
    position: relative;

    &__toggle {
        appearance: none;
        aspect-ratio: 1/1;
        background-color: transparent;
        border: none;
        display: flex;
        height: 100%;
    }

    &__icon {
        display: inline-block;
        margin: auto;

        &--unmasked {
            display: none;
        }
    }

    &__rules {
        color: var(--color-text-light);
        font-size: var(--font-size-s);
        line-height: var(--line-height-l);
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            align-items: center;
            display: flex;
            gap: .33em;

            &::before {
                background-color: currentColor;
                mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-check"><path d="M20 6 9 17l-5-5"/></svg>');
                mask-size: 1em;
                content: '';
                display: inline-block;
                height: 1em;
                margin-right: .25em;
                width: 1em;
            }

            &.is-validated {
                color: var(--color-success);
                text-decoration: line-through;
            }
        }
    }
}